// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$french-blue: #2D7BE9;

.results-pagination {
  text-align: center;
  .page-number {
    border: 2px solid #BBBBBB;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    min-width: 28px;
    margin: 0 5px;
    padding: 1px 4px;
    &:hover {
      border: 2px solid $french-blue;
    }
    &.selected {
      border: 2px solid $french-blue;
    }
  }
}
.movie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .movie-inner-container {
    display: flex;
    margin: 25px 0 25px;
    img {
      height: 150px;
    }
    .movie-details {
      margin-left: 30px;
      .movie-detail-row {
        margin-bottom: 10px;
        .movie-title {
          color: #367CC3;
          font-size: 18px;
        }
        &.movie-year {
          font-size: 15px;
        }
        .movie-stars {
          color: #F9AD2A;
          margin-left: 5px;
          .movie-star {
            margin-right: 2px;
          }
        }
        .movie-genre {
          font-size: 12px;
          background: #BBBBBB;
          padding: 2px 7px;
          border-radius: 15px;
          color: white;
          margin-right: 5px;
        }
      }
    }

  }
}
.brand-button {
  background: white;
  border: 2px solid #BBBBBB;
  border-radius: 3px;
  color: $french-blue;
  cursor: pointer;
  min-width: 100px;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  transition: all 0.3s ease;
  &:focus {
    outline: none;
  }
  &:hover {
    border: 2px solid $french-blue;
  }
  &.warning-button {
    background: #d24444;
    border: none;
    color: white;
    position: absolute;
    right: 0;
    &:hover {
      background: #c33939;
    }
    &.hide {
      visibility: hidden;
    }
  }
}
.search-page-container {
  margin: 0 40px;
  .no-results-text {
    color: $french-blue;
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
  }
  .search-header-bar {
    border-bottom: 5px solid #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 30px;
    @media(max-width: 800px) {
      display: block;
    }
    .search-area-container {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 30px;
      }
      form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
        label {
          margin: 0 10px 0 0;
        }
        input#search {
          border-radius: 4px;
          border: 1px solid #BBBBBB;
          margin: 0 10px 0 0;
          padding: 10px;
          height: 40px;
          width: 200px;
        }
      }
      @media(max-width: 800px) {
        justify-content: flex-start;
        margin-bottom: 15px;
      }
      @media(max-width: 600px) {
        display: block;
        form {
          display: block;
          margin: 15px 0 0;
        }
      }
    }

  }

}
.movie-form-back-link a {
  color: $french-blue;
  @media(max-width: 1080px) {
    margin-left: 40px;
  }
}
.new-movie-form-container {
  margin: 0 auto;
  padding: 40px;
  width: 90%;
  @media(max-width: 720px) {
    width: 100%;
  }
  .new-movie-title {
    border-bottom: 5px solid #BBBBBB;
    color: $french-blue;
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .new-movie-form {
    input {
      margin-right: 30px;
    }
    .form-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media(max-width: 720px) {
        display: block;
      }
    }
  }
  .form-item {
    margin: 0 10px 10px 0;
    &.rating-stars {
      color: $french-blue;
      display: inline-block;
      font-size: 20px;
      .movie-star {
        margin-right: 2px;
        &:hover {
          cursor: pointer;
        }

      }
    }
  }
  .movie-form-second-row {
    display: flex;
    justify-content: space-between;
    @media(max-width: 720px) {
      display: block;
    }
    .genre-form {
      margin-bottom: 25px;
      .form-item {
        margin-bottom: 0;
        margin-right: 8px;
      }
      .genre-input {
        display: flex;
        align-items: center;
        i.fa-plus {
          color: #2D7BE9;
          cursor: pointer;
          font-size: 25px;
          z-index: 1;
          &.big-plus {
            font-size: 28px;
          }
        }
      }
      .genre-list-container {
        color: $french-blue;
        max-width: 210px;
        padding: 10px 30px 10px 10px;
        .genre-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .fa-trash {
          color: black;
          cursor: pointer;
        }
      }
    }
    .submit-button {
      margin-right: 0;
    }
  }
  input.form-item {
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
  }
  input.submit-button {
    width: 100px;
    height: 40px;
  }
}
